@model List<Repository.Models.DatabaseModels.Discipline>
@{
  ViewData["Title"] = "Список дисциплин";
}
<h1>Список дисциплин</h1>
<table class="table">
  <tr>
    <th>Имя</th><th class="text-center">Колличество проектов</th><th></th>
    @if (User.IsInRole("Admin"))
    {
      <th></th>
      <th></th>
    }
  </tr>
  @foreach (var discipline in Model)
  {
    <tr>
      <td>@discipline.Name</td>
      <td class="text-center">
        @if (discipline.CourseProjects.Any())
        {
          @discipline.CourseProjects.Count
        }
      </td>
      <td>
        <a asp-action="IndexDiscipline" asp-route-id="@discipline.Id" class="btn btn-sm btn-outline-info">
          Все проекты
        </a>
      </td>
      @if (User.IsInRole("Admin"))
      {
        <td>
          <a asp-action="Edit" asp-route-id="@discipline.Id" class="btn btn-sm btn-outline-info">
            Изменить
          </a>
        </td>
        <td>
          <a asp-action="Delete" asp-route-id="@discipline.Id" type="submit" class="btn btn-sm btn-outline-danger">
            Удалить
          </a>
        </td>
      }

    </tr>
  }
</table>
<br>
@if (User.IsInRole("Admin"))
{
  <a asp-action="Create">Добавить</a>
}