@using Microsoft.AspNetCore.Identity
@using Repository.Models.DatabaseModels
@model Repository.ViewModels.ProjectAndFilesViewModel

@inject UserManager<User> _userManager

@{
  ViewData["Title"] = "Редактирование страницы проекта";
}
<h2 >Редактирование страницы курсовго проекта</h2>

<div class="card">
  <div class="card-body">
    <p >@Model.Project.Id</p>
    <p >@Model.Project.Title</p>
    <p >@Model.Project.Description</p>
    <p >@Model.Project.CreationDate</p>
    <p >
      @_userManager.FindByIdAsync(Model.Project.UserId).Result.Surname
      @_userManager.FindByIdAsync(Model.Project.UserId).Result.FirstName
      @_userManager.FindByIdAsync(Model.Project.UserId).Result.Patronymic
    </p>
  </div>
</div>

<a class="btn btn-link" asp-controller="Files" asp-action="UploadFile" asp-route-projectId="@Model.Project.Id">
  Добавить файл
</a>

<h3>Все файлы</h3>
@foreach (var f in Model.FileModels)
{
  <p>
    <a class="btn btn-outline-danger" asp-controller="Files" asp-action="DeleteFile" asp-route-fileId="@f.Id">
      Удалить
    </a>
    @f.Name --- @f.FilePath
  </p>
}