@model IEnumerable<Repository.Models.DatabaseModels.CourseProject>

@{
  ViewBag.Title = "Главная";
}

<h1 >Список курсовых проектов</h1>
<div class="row justify-content-center">
  <div class="col-md-8 d-flex flex-column  justify-content-center">
    <a class="btn btn-outline-secondary  my-3" asp-controller="Projects" asp-action="CreateProject">Создать</a>
    @foreach (var project in Model)
    {
      <div class="card my-3">

        <div class="card-header"></div>
        <div class="card-link"> </div>

        <div class="card-body">
          <h3 class="card-title">
            @project.Title
          </h3>
          <h6 class="card-subtitle text-muted">
            @project.CreationDate
          </h6>

          <p class="card-text">@project.Description</p>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-around">
            <a class="btn btn-secondary" asp-controller="Projects" asp-action="ProjectInfo" asp-route-id="@project.Id">
              Открыть
            </a>
            <a class="btn btn-secondary" asp-controller="Projects" asp-action="EditProject" asp-route-id="@project.Id">
              Редактировать
            </a>
            <a class="btn btn-danger" asp-controller="Projects" asp-action="DeleteProject" asp-route-id="@project.Id">
              Удалить
            </a>
          </div>
        </div>
      </div>
    }

    <a class="btn btn-outline-secondary my-3" asp-controller="Projects" asp-action="CreateProject">Создать</a>
  </div>
</div>