@model IEnumerable<Repository.Models.DatabaseModels.CourseProject>

@{
  ViewBag.Title = "Главная";
}
<div class="card">
  @foreach (var project in Model)
  {
    <div class="card-header"></div>
    <div class="card-link"> </div>

    <div class="card-body">
      <h3 class="card-title">
        @project.Title
      </h3>
      <h6 class="card-subtitle text-muted">
        @project.CreationDate
      </h6>

      <p class="card-text">@project.Description</p>
      @* <p>@project.ImagePath</p>; *@
      @* <img alt="Card image cap" class="card-img-top" src=""> *@
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-around">
        <a class="btn btn-primary" asp-controller="Projects" asp-action="Project" asp-route-id="@project.Id">Открыть</a>
      </div>
    </div>
  }
</div>