@using Microsoft.AspNetCore.Identity
@using Repository.Models.DatabaseModels
@model Repository.Models.DatabaseModels.CourseProject
@inject UserManager<User> _userManager

<h2 >@_userManager.FindByIdAsync(Model.UserId).Result.FirstName 
  @_userManager.FindByIdAsync(Model.UserId).Result.Surname</h2>
<div class="card">
  <div class="card-body">
    <p >@Model.Id</p>
    <p >@Model.Title</p>
    <p >@Model.Description</p>
    <p >@Model.CreationDate</p>
    <p >@Model.UserId</p>
  </div>
</div>