@using Microsoft.AspNetCore.Identity
@using Repository.Models.DatabaseModels
@model Repository.ViewModels.ProjectAndFilesViewModel
@inject UserManager<User> _userManager

@{
  ViewData["Title"] = "Страница проекта";
  var user = _userManager.FindByIdAsync(Model.Project.UserId).Result;
}
@*todo update design *@
<h2 >Страница курсовго проекта</h2>
<div class="row justify-content-center mt-3 mx-1">
  <div class="col-md-8 mx-0">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">@Model.Project.Title </h2>
        <h6 class="card-subtitle text-muted">
          Создано @user.Email - @user.Surname @user.FirstName @user.Patronymic в @Model.Project.CreationDate
        </h6>
        <p class="card-text mt-2">
          @Model.Project.Description
        </p>
      </div>
      <div class="card-footer d-flex flex-column  justify-content-center">

        <a class="btn btn-outline-primary my-1" asp-controller="Projects"
           asp-action="EditProject" asp-route-id="@Model.Project.Id">
          Редактировать
        </a>
        <a class="btn btn-outline-danger my-1" asp-controller="Projects"
           asp-action="DeleteProject" asp-route-id="@Model.Project.Id">
          Удалить
        </a>
      </div>
    </div>
    
    <div class="mt-3 card card-body">
      <h3>Все файлы:</h3>
      @if (!Model.FileModels.Any())
      {
        <p>К проекту не привязано файлов.</p>
      }
      @foreach (var f in Model.FileModels)
      {
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <a class="btn btn-outline-info" asp-controller="Files"
               asp-action="TryDownloadFile" asp-route-fileId="@f.Id">
              Скачать
            </a>
            @f.Name
          </li>
        </ul>
      }
    </div>
  </div>
</div>