@using Microsoft.AspNetCore.Identity
@using Repository.Models.DatabaseModels
@model Repository.ViewModels.ProjectAndFilesViewModel
@inject UserManager<User> _userManager

@{
  ViewData["Title"] = "Страница проекта";
}

<h2 >
  @_userManager.FindByIdAsync(Model.Project.UserId).Result.Surname
  @_userManager.FindByIdAsync(Model.Project.UserId).Result.FirstName
  @_userManager.FindByIdAsync(Model.Project.UserId).Result.Patronymic
</h2>
<div class="card">
  <div class="card-body">
    <p >@Model.Project.Id</p>
    <p >@Model.Project.Title</p>
    <p >@Model.Project.Description</p>
    <p >@Model.Project.CreationDate</p>
    <p >@Model.Project.UserId</p>
  </div>
</div>

<h3>Все файлы</h3>
@foreach (var f in Model.FileModels)
{
  <p>
    @f.Name --- @f.FilePath
  </p>
}